@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-scrollbar: #0ea5e9;
  }
  .dark {
    --color-scrollbar: #0ea5e9;
  }

  html {
    font-family: "Inter var", system-ui, sans-serif;
  }

  /* 全局滚动条样式 */
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200 dark:bg-gray-800;
  }
}

@layer components {
  
  /* 自定义滚动条容器样式 */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar);

    &::-webkit-scrollbar {
      @apply w-1 h-1;
    }
  }
}

@layer utilities {}
